.leaflet-attribution-flag{
    display: none;
    visibility: hidden;
}

.energyBalanceTable {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 2px solid black;
    width: 100%;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
}